<secton class="section createIngredientSection">
    <h1>Skapa en ingrediens nedan:</h1>

    <form action="/Ingredient/Create" method="post">
        <input type="text" name="IngredientName" placeholder="Namn" /> <br />
        <input type="text" name="Taste" placeholder="Smak" /><br />
        <button class="btn">Spara</button>
    </form>
</secton>


